# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
*.env

# Editor
.idea/
.vscode/
*.swp

# OS
.DS_Store

# lerobot artifacts
outputs/

# rerun
*.rrd

# Claude Skills
.claude
TODO.md
